footer {
    background-color: #ffffff;
    text-align: center;
}

footer h3 {
    color: #8f8f9e;
    margin-bottom: 35px;
    font-size: 18px;
}

footer a {
    color: #000000;
}

footer .number {
    display: block;
    margin-top: 35px;
}

footer .top-section {
    padding: 85px 0 0;
    border-bottom: 1px solid #d7d9da;
}

footer ul {
    text-align: center;
}

footer ul li {
    list-style-type: none; 
    margin-bottom: 35px;
}

footer .scroll-top {
    border-radius: 0;
    margin: 0 auto;
    display: block;
}