<app-banner></app-banner>
<section class="container">
  <section class="page-container mb-5">
    <h2>UNLIMITED DESIGNS.</h2>
    <h2>UNLIMITED REVISIONS.</h2>
    <h2>ONE FLAT MONTHLY RATE.</h2>
    <div class="separator"></div>
    <div class="btn-group-lg">
      <button class="btn btn-primary mr-4 mb-4">GET STARTED</button>
      <button class="btn btn-secondary mb-4">LEARN MORE</button>
    </div>
    <p>Join us and avoid padded scope projects, change orders, hourly billings, scope meetings and other typical agency distractions.</p>
  </section>
  <section class="sequence-section">
    <h3 class="grey-clr mb-2">OUR SPECIALITIES</h3>
    <div class="separator grey-bg mb-5"></div>
    <div class="row sequence">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-none d-sm-block">
          <img src="assets/images/image1.png" alt="sequence-image-1"/>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h3>01</h3>
          <h4>ANY DESIGN REQUEST</h4>
          <p>We can help you with just about any design request ranging from Logos, Business Cards, Flyers, to Website  and App Designs.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-block d-sm-none">
            <img src="assets/images/image1.png" alt="sequence-image-1"/>
        </div>
    </div>
    <div class="row sequence">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>02</h3>
            <h4>UNLIMITED REVISIONS</h4>
            <p>We mean it when we say unlimited revisions. Revise until you're happy. Simple as that.</p>
          </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img src="assets/images/image2.png" alt="sequence-image-2"/>
      </div>
    </div>
    <div class="row sequence">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-none d-sm-block">
        <img src="assets/images/image3.png" alt="sequence-image-3"/>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3>03</h3>
        <h4>ALWAYS ON TIME</h4>
        <p>We're the designers you turn to when you need things done on time.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-block d-sm-none">
          <img src="assets/images/image3.png" alt="sequence-image-3"/>
      </div>
    </div>
  </section>
</section>
<section class="container">
    <h3 class="grey-clr mb-2">OUR WORK</h3>
    <div class="separator grey-bg mb-5"></div>
</section>
<section class="container-fluid">
  <section class="work-section">
    <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
          <a href="javascript:void(0);" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-inline-block mb-4">
            <img src="assets/images/work1.png"  class="full-row-image" (mouseenter)="imageHover($event)"/>
          </a>
        </div>
        <div class="row">
          <a href="javascript:void(0);" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pr-3 mb-4">
            <img src="assets/images/work3.png" class="half-row-image" (mouseenter)="imageHover($event)"/>
          </a>
          <a href="javascript:void(0);" class="col-lg-6 d-md-none d-lg-block col-sm-12 col-xs-12 pl-3 mb-4">
            <img src="assets/images/work4.png" class="half-row-image" (mouseenter)="imageHover($event)"/>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <a href="javascript:void(0);" class="d-inline-block mb-4"><img src="assets/images/work2.png"  class="full-row-image" (mouseenter)="imageHover($event)"/></a>
        <a href="javascript:void(0);" class="d-inline-block mb-4"><img src="assets/images/work5.png" class="full-row-image" (mouseenter)="imageHover($event)"/></a>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4">
          <a href=""><img src="assets/images/work6.png"  class="full-row-image" (mouseenter)="imageHover($event)"/></a>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12 mb-4">
          <a href=""><img src="assets/images/work7.png"  class="full-row-image" (mouseenter)="imageHover($event)"/></a>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pr-4">
          <a href="work" class="btn btn-secondary float-right mr-4 mt-5 mb-5">VIEW ALL</a> 
      </div>
    </div>
  </section>
</section>
